-- ==============================================================================
-- PHẦN 1: KHỞI TẠO CƠ SỞ DỮ LIỆU VÀ CẤU TRÚC BẢNG (Giữ nguyên từ code trước)
-- ==============================================================================

-- 1. TẠO VÀ SỬ DỤNG DATABASE
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'BT2_QLSinhVien')
BEGIN
    CREATE DATABASE [BT2_QLSinhVien];
END
GO

USE [BT2_QLSinhVien]
GO

-- 2. XÓA BẢNG NẾU ĐÃ TỒN TẠI (Để tránh lỗi khi chạy lại nhiều lần)
DROP TABLE IF EXISTS [dbo].[KetQua];
DROP TABLE IF EXISTS [dbo].[DSSinhVien];
DROP TABLE IF EXISTS [dbo].[DSSV_Nu];
DROP TABLE IF EXISTS [dbo].[DMMonHoc];
DROP TABLE IF EXISTS [dbo].[DMKhoa];
GO

-- 3. TẠO CÁC BẢNG
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[DMKhoa](
	[MaKhoa] [char](2) NOT NULL,
	[TenKhoa] [nvarchar](30) NOT NULL,
    PRIMARY KEY CLUSTERED ([MaKhoa] ASC)
) 
GO

CREATE TABLE [dbo].[DMMonHoc](
	[MaMH] [char](2) NOT NULL,
	[TenMH] [nvarchar](25) NOT NULL,
	[SoTiet] [tinyint] NULL,
	[GhiChu] [nchar](50) NULL,
    CONSTRAINT [DMMH_MaMH_pk] PRIMARY KEY CLUSTERED ([MaMH] ASC)
) 
GO

CREATE TABLE [dbo].[DSSinhVien](
	[MaSV] [char](3) NOT NULL,
	[HoSV] [nvarchar](15) NOT NULL,
	[TenSV] [nvarchar](7) NOT NULL,
	[Phai] [nchar](7) NULL,
	[NgaySinh] [datetime] NOT NULL,
	[NoiSinh] [nvarchar](20) NULL,
	[MaKhoa] [char](2) NULL,
	[HocBong] [float] NULL,
    PRIMARY KEY CLUSTERED ([MaSV] ASC)
) 
GO

CREATE TABLE [dbo].[DSSV_Nu](
	[MaSV] [char](3) NOT NULL,
	[Họ và tên] [nvarchar](23) NOT NULL,
	[PHAI] [nchar](7) NULL,
	[NgaySinh] [datetime] NOT NULL,
	[MaKhoa] [char](2) NULL
) 
GO

CREATE TABLE [dbo].[KetQua](
	[MaSV] [char](3) NOT NULL,
	[MaMH] [char](2) NOT NULL,
	[LanThi] [tinyint] NOT NULL,
	[Diem] [decimal](4, 2) NULL,
    CONSTRAINT [KetQua_MaSV_MaMH_LanThi_pk] PRIMARY KEY CLUSTERED (
	    [MaSV] ASC,
	    [MaMH] ASC,
	    [LanThi] ASC
    )
) 
GO

-- 4. INSERT DỮ LIỆU
INSERT [dbo].[DMKhoa] ([MaKhoa], [TenKhoa]) VALUES (N'AV', N'Anh Văn')
INSERT [dbo].[DMKhoa] ([MaKhoa], [TenKhoa]) VALUES (N'TH', N'Tin Học')
INSERT [dbo].[DMKhoa] ([MaKhoa], [TenKhoa]) VALUES (N'TR', N'Triết')
GO

INSERT [dbo].[DMMonHoc] ([MaMH], [TenMH], [SoTiet], [GhiChu]) VALUES (N'01', N'Cơ Sở Dữ Liệu', 45, NULL)
INSERT [dbo].[DMMonHoc] ([MaMH], [TenMH], [SoTiet], [GhiChu]) VALUES (N'02', N'Trí Tuệ Nhân Tạo', 45, NULL)
INSERT [dbo].[DMMonHoc] ([MaMH], [TenMH], [SoTiet], [GhiChu]) VALUES (N'03', N'Truyền Tin', 45, NULL)
GO

INSERT [dbo].[DSSinhVien] ([MaSV], [HoSV], [TenSV], [Phai], [NgaySinh], [NoiSinh], [MaKhoa], [HocBong]) VALUES (N'A01', N'Nguyễn Thị', N'Hải', N'Nữ      ', CAST(N'1990-02-23T00:00:00.000' AS DateTime), N'Hà Nội', N'TH', 130000)
INSERT [dbo].[DSSinhVien] ([MaSV], [HoSV], [TenSV], [Phai], [NgaySinh], [NoiSinh], [MaKhoa], [HocBong]) VALUES (N'A02', N'Trần Văn', N'Chính', N'Nam    ', CAST(N'1992-12-24T00:00:00.000' AS DateTime), N'Bình Định', N'VL', 150000)
INSERT [dbo].[DSSinhVien] ([MaSV], [HoSV], [TenSV], [Phai], [NgaySinh], [NoiSinh], [MaKhoa], [HocBong]) VALUES (N'A03', N'Lê Thu Bạch', N'Yến', N'Nữ      ', CAST(N'1990-02-21T00:00:00.000' AS DateTime), N'TP Hồ Chí Minh', N'TH', 170000)
GO

INSERT [dbo].[DSSV_Nu] ([MaSV], [Họ và tên], [PHAI], [NgaySinh], [MaKhoa]) VALUES (N'A01', N'Nguyễn Thị Hải', N'Nữ      ', CAST(N'1990-02-23T00:00:00.000' AS DateTime), N'TH')
INSERT [dbo].[DSSV_Nu] ([MaSV], [Họ và tên], [PHAI], [NgaySinh], [MaKhoa]) VALUES (N'A03', N'Lê Thu Bạch Yến', N'Nữ      ', CAST(N'1990-02-21T00:00:00.000' AS DateTime), N'TH')
INSERT [dbo].[DSSV_Nu] ([MaSV], [Họ và tên], [PHAI], [NgaySinh], [MaKhoa]) VALUES (N'A05', N'Hoàng Khánh Ngọc', N'Nữ      ', CAST(N'2000-11-10T00:00:00.000' AS DateTime), N'TH')
GO

INSERT [dbo].[KetQua] ([MaSV], [MaMH], [LanThi], [Diem]) VALUES (N'A01', N'01', 1, CAST(3.00 AS Decimal(4, 2)))
INSERT [dbo].[KetQua] ([MaSV], [MaMH], [LanThi], [Diem]) VALUES (N'A01', N'01', 2, CAST(6.00 AS Decimal(4, 2)))
INSERT [dbo].[KetQua] ([MaSV], [MaMH], [LanThi], [Diem]) VALUES (N'A01', N'02', 2, CAST(6.00 AS Decimal(4, 2)))
GO

-- 5. THÊM RÀNG BUỘC KHÓA NGOẠI (FOREIGN KEYS)
ALTER TABLE [dbo].[DSSinhVien] WITH CHECK ADD CONSTRAINT [DMKhoa_MaKhoa_fk] FOREIGN KEY([MaKhoa]) REFERENCES [dbo].[DMKhoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[KetQua] WITH CHECK ADD CONSTRAINT [DMMH_MaMH_fk] FOREIGN KEY([MaMH]) REFERENCES [dbo].[DMMonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[KetQua] WITH CHECK ADD CONSTRAINT [KetQua_MaSV_fk] FOREIGN KEY([MaSV]) REFERENCES [dbo].[DSSinhVien] ([MaSV])
GO


-- ==============================================================================
-- PHẦN 2: THỰC THI 40 CÂU HỎI BÀI TẬP (Quét chọn từng khối lệnh để chạy)
-- ==============================================================================

-- 1. Danh sách sinh viên có tuổi từ 20 đến 25
SELECT HoSV + ' ' + TenSV AS HoTen, YEAR(GETDATE()) - YEAR(NgaySinh) AS Tuoi, TenKhoa 
FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa
WHERE YEAR(GETDATE()) - YEAR(NgaySinh) BETWEEN 20 AND 25;
GO

-- 2. Mã sinh viên, Phái, Mã khoa, Mức học bổng (>500k là Cao, ngược lại là Trung bình)
SELECT MaSV, Phai, MaKhoa, CASE WHEN ISNULL(HocBong, 0) > 500000 THEN N'Học bổng cao' ELSE N'Mức trung bình' END AS MucHocBong
FROM DSSinhVien;
GO

-- 3. Tổng số SV và tổng số SV nữ của từng khoa
SELECT MaKhoa, COUNT(MaSV) AS TongSV, SUM(CASE WHEN RTRIM(Phai) = N'Nữ' THEN 1 ELSE 0 END) AS TongSVNu 
FROM DSSinhVien GROUP BY MaKhoa;
GO

-- 4. Số lượng sinh viên học từng môn
SELECT MaMH, COUNT(DISTINCT MaSV) AS SoLuongSV 
FROM KetQua GROUP BY MaMH;
GO

-- 5. Tổng số học bổng của mỗi khoa
SELECT MaKhoa, SUM(ISNULL(HocBong, 0)) AS TongHocBong 
FROM DSSinhVien GROUP BY MaKhoa;
GO

-- 6. Học bổng cao nhất của mỗi khoa
SELECT MaKhoa, MAX(ISNULL(HocBong, 0)) AS HocBongCaoNhat 
FROM DSSinhVien GROUP BY MaKhoa;
GO

-- 7. Năm sinh nào có đúng 2 sinh viên
SELECT YEAR(NgaySinh) AS NamSinh 
FROM DSSinhVien GROUP BY YEAR(NgaySinh) HAVING COUNT(MaSV) = 2;
GO

-- 8. Nơi nào có hơn 2 sinh viên
SELECT NoiSinh 
FROM DSSinhVien GROUP BY NoiSinh HAVING COUNT(MaSV) > 2;
GO

-- 9. Môn nào có trên 3 sinh viên dự thi
SELECT MaMH 
FROM KetQua GROUP BY MaMH HAVING COUNT(DISTINCT MaSV) > 3;
GO

-- 10. Sinh viên thi lại (lần thi >= 2) trên 2 lần (tổng các môn)
SELECT MaSV 
FROM KetQua WHERE LanThi >= 2 GROUP BY MaSV HAVING COUNT(MaMH) > 2;
GO

-- 11. Sinh viên nam có điểm TB lần 1 trên 7.0
SELECT SV.MaSV, SV.HoSV, SV.TenSV 
FROM DSSinhVien SV JOIN KetQua KQ ON SV.MaSV = KQ.MaSV 
WHERE RTRIM(SV.Phai) = N'Nam' AND KQ.LanThi = 1 
GROUP BY SV.MaSV, SV.HoSV, SV.TenSV HAVING AVG(KQ.Diem) > 7.0;
GO

-- 12. Danh sách SV rớt trên 2 môn ở lần thi 1
SELECT MaSV 
FROM KetQua WHERE LanThi = 1 AND Diem < 5 GROUP BY MaSV HAVING COUNT(MaMH) > 2;
GO

-- 13. Khoa có nhiều hơn 2 SV nam
SELECT MaKhoa 
FROM DSSinhVien WHERE RTRIM(Phai) = N'Nam' GROUP BY MaKhoa HAVING COUNT(MaSV) > 2;
GO

-- 14. Khoa có từ 2 SV đạt học bổng từ 200k đến 300k
SELECT MaKhoa 
FROM DSSinhVien WHERE HocBong BETWEEN 200000 AND 300000 GROUP BY MaKhoa HAVING COUNT(MaSV) >= 2;
GO

-- 15. Số lượng SV đậu và rớt của từng môn trong lần thi 1
SELECT MaMH, SUM(CASE WHEN Diem >= 5 THEN 1 ELSE 0 END) AS SoSVDau, SUM(CASE WHEN Diem < 5 THEN 1 ELSE 0 END) AS SoSVRot 
FROM KetQua WHERE LanThi = 1 GROUP BY MaMH;
GO

-- 16. Sinh viên có học bổng cao nhất
SELECT * FROM DSSinhVien WHERE HocBong = (SELECT MAX(HocBong) FROM DSSinhVien);
GO

-- 17. Sinh viên có điểm thi lần 1 môn "Cơ sở dữ liệu" cao nhất
SELECT SV.* FROM DSSinhVien SV JOIN KetQua KQ ON SV.MaSV = KQ.MaSV JOIN DMMonHoc MH ON KQ.MaMH = MH.MaMH 
WHERE MH.TenMH = N'Cơ Sở Dữ Liệu' AND KQ.LanThi = 1 AND KQ.Diem = (
    SELECT MAX(Diem) FROM KetQua K2 JOIN DMMonHoc M2 ON K2.MaMH = M2.MaMH 
    WHERE M2.TenMH = N'Cơ Sở Dữ Liệu' AND K2.LanThi = 1
);
GO

-- 18. Sinh viên khoa "Anh văn" có tuổi lớn nhất (sinh sớm nhất)
SELECT TOP 1 SV.* FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa 
WHERE K.TenKhoa = N'Anh Văn' ORDER BY NgaySinh ASC;
GO

-- 19. Khoa đông sinh viên nhất
SELECT TOP 1 MaKhoa 
FROM DSSinhVien GROUP BY MaKhoa ORDER BY COUNT(MaSV) DESC;
GO

-- 20. Khoa đông sinh viên nữ nhất
SELECT TOP 1 MaKhoa 
FROM DSSinhVien WHERE RTRIM(Phai) = N'Nữ' GROUP BY MaKhoa ORDER BY COUNT(MaSV) DESC;
GO

-- 21. SV không thuộc khoa "Anh văn" có điểm "Văn phạm" lớn hơn điểm "Văn phạm" của SV khoa "Anh văn"
SELECT SV.MaSV, SV.HoSV, SV.TenSV 
FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa JOIN KetQua KQ ON SV.MaSV = KQ.MaSV JOIN DMMonHoc MH ON KQ.MaMH = MH.MaMH 
WHERE K.TenKhoa != N'Anh Văn' AND MH.TenMH = N'Văn Phạm' AND KQ.Diem > ALL (
    SELECT KQ2.Diem FROM KetQua KQ2 JOIN DSSinhVien SV2 ON KQ2.MaSV = SV2.MaSV JOIN DMKhoa K2 ON SV2.MaKhoa = K2.MaKhoa JOIN DMMonHoc MH2 ON KQ2.MaMH = MH2.MaMH 
    WHERE K2.TenKhoa = N'Anh Văn' AND MH2.TenMH = N'Văn Phạm'
);
GO

-- 22. SV có nơi sinh cùng với SV tên "Hải"
SELECT * FROM DSSinhVien 
WHERE NoiSinh IN (SELECT NoiSinh FROM DSSinhVien WHERE TenSV = N'Hải') AND TenSV != N'Hải';
GO

-- 23. SV có học bổng lớn hơn TẤT CẢ học bổng của SV khoa "Anh văn"
SELECT * FROM DSSinhVien 
WHERE HocBong > ALL (SELECT ISNULL(HocBong, 0) FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa WHERE K.TenKhoa = N'Anh Văn');
GO

-- 24. SV có học bổng lớn hơn BẤT KỲ học bổng nào của SV khoa "Anh văn"
SELECT * FROM DSSinhVien 
WHERE HocBong > ANY (SELECT ISNULL(HocBong, 0) FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa WHERE K.TenKhoa = N'Anh Văn');
GO

-- 25. SV có điểm thi môn "Cơ sở dữ liệu" lần 2 lớn hơn tất cả các điểm thi lần 1 của môn này
SELECT SV.* FROM DSSinhVien SV JOIN KetQua KQ ON SV.MaSV = KQ.MaSV JOIN DMMonHoc MH ON KQ.MaMH = MH.MaMH 
WHERE MH.TenMH = N'Cơ Sở Dữ Liệu' AND KQ.LanThi = 2 AND KQ.Diem > ALL (
    SELECT Diem FROM KetQua K2 JOIN DMMonHoc M2 ON K2.MaMH = M2.MaMH WHERE M2.TenMH = N'Cơ Sở Dữ Liệu' AND K2.LanThi = 1
);
GO

-- 26. Sinh viên đạt điểm cao nhất trong từng môn học
SELECT KQ.MaMH, MH.TenMH, KQ.MaSV, SV.HoSV, SV.TenSV, KQ.Diem 
FROM KetQua KQ JOIN DMMonHoc MH ON KQ.MaMH = MH.MaMH JOIN DSSinhVien SV ON KQ.MaSV = SV.MaSV
JOIN (
    SELECT MaMH, MAX(Diem) AS MaxDiem FROM KetQua GROUP BY MaMH
) T ON KQ.MaMH = T.MaMH AND KQ.Diem = T.MaxDiem;
GO

-- 27. Khoa không có sinh viên theo học
SELECT K.MaKhoa, K.TenKhoa 
FROM DMKhoa K LEFT JOIN DSSinhVien SV ON K.MaKhoa = SV.MaKhoa WHERE SV.MaSV IS NULL;
GO

-- 28. SV chưa dự thi môn "Cơ sở dữ liệu"
SELECT MaSV, HoSV, TenSV 
FROM DSSinhVien WHERE MaSV NOT IN (
    SELECT KQ.MaSV FROM KetQua KQ JOIN DMMonHoc MH ON KQ.MaMH = MH.MaMH WHERE MH.TenMH = N'Cơ Sở Dữ Liệu'
);
GO

-- 29. SV không thi lần 1 nhưng có dự thi lần 2
SELECT MaSV FROM KetQua WHERE LanThi = 2 AND MaSV NOT IN (
    SELECT MaSV FROM KetQua WHERE LanThi = 1
);
GO

-- 30. Môn nào không có SV khoa "Anh văn" theo học
SELECT MaMH, TenMH FROM DMMonHoc WHERE MaMH NOT IN (
    SELECT KQ.MaMH FROM KetQua KQ JOIN DSSinhVien SV ON KQ.MaSV = SV.MaSV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa WHERE K.TenKhoa = N'Anh Văn'
);
GO

-- 31. SV khoa "Anh văn" chưa học môn "Văn phạm"
SELECT SV.MaSV, SV.HoSV, SV.TenSV 
FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa 
WHERE K.TenKhoa = N'Anh Văn' AND SV.MaSV NOT IN (
    SELECT KQ.MaSV FROM KetQua KQ JOIN DMMonHoc MH ON KQ.MaMH = MH.MaMH WHERE MH.TenMH = N'Văn Phạm'
);
GO

-- 32. SV không rớt môn nào
SELECT MaSV FROM DSSinhVien WHERE MaSV NOT IN (SELECT MaSV FROM KetQua WHERE Diem < 5);
GO

-- 33. SV khoa "Anh văn" có học bổng VÀ những SV chưa bao giờ rớt
SELECT SV.MaSV FROM DSSinhVien SV JOIN DMKhoa K ON SV.MaKhoa = K.MaKhoa WHERE K.TenKhoa = N'Anh Văn' AND ISNULL(SV.HocBong, 0) > 0
UNION
SELECT MaSV FROM DSSinhVien WHERE MaSV NOT IN (SELECT MaSV FROM KetQua WHERE Diem < 5);
GO

-- 34. Khoa đông SV nhận học bổng nhất và khoa ít SV nhận học bổng nhất
SELECT * FROM (
    SELECT TOP 1 MaKhoa, N'Nhiều SV nhận học bổng nhất' AS PhanLoai 
    FROM DSSinhVien 
    WHERE ISNULL(HocBong, 0) > 0 
    GROUP BY MaKhoa 
    ORDER BY COUNT(MaSV) DESC
) AS MaxKhoa
UNION
SELECT * FROM (
    SELECT TOP 1 MaKhoa, N'Ít SV nhận học bổng nhất' AS PhanLoai 
    FROM DSSinhVien 
    WHERE ISNULL(HocBong, 0) > 0 
    GROUP BY MaKhoa 
    ORDER BY COUNT(MaSV) ASC
) AS MinKhoa;
GO

-- 35. 3 sinh viên học nhiều môn học nhất
SELECT TOP 3 MaSV, COUNT(DISTINCT MaMH) AS SoMonHoc 
FROM KetQua GROUP BY MaSV ORDER BY SoMonHoc DESC;
GO

-- 36. Những môn được tất cả các sinh viên theo học
SELECT MaMH 
FROM KetQua GROUP BY MaMH HAVING COUNT(DISTINCT MaSV) = (SELECT COUNT(*) FROM DSSinhVien);
GO

-- 37. Những SV học những môn giống những môn SV mã "A02" học
SELECT DISTINCT MaSV 
FROM KetQua WHERE MaMH IN (SELECT MaMH FROM KetQua WHERE MaSV = 'A02') AND MaSV != 'A02';
GO

-- 38. Những SV học ĐÚNG những môn mà SV mã "A02" đã học
SELECT MaSV FROM KetQua WHERE MaSV != 'A02' GROUP BY MaSV 
HAVING COUNT(DISTINCT MaMH) = (SELECT COUNT(DISTINCT MaMH) FROM KetQua WHERE MaSV = 'A02') 
AND NOT EXISTS (SELECT MaMH FROM KetQua KQ2 WHERE KQ2.MaSV = KetQua.MaSV AND KQ2.MaMH NOT IN (SELECT MaMH FROM KetQua WHERE MaSV = 'A02'));
GO

-- 39. Tăng thêm 1 điểm cho SV thi lại lần 2 (tối đa 5 điểm)
UPDATE KetQua 
SET Diem = CASE WHEN Diem + 1 > 5 THEN 5 ELSE Diem + 1 END 
WHERE LanThi = 2;
GO

-- 40. Xoá tất cả những SV chưa dự thi bất kỳ môn học nào
DELETE FROM DSSinhVien 
WHERE MaSV NOT IN (SELECT DISTINCT MaSV FROM KetQua);
GO